
html{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}
header{
    
   background-color: #fdd72d;
   
   padding-bottom: 20px;
   margin: 0;
   
}
h1,h2{
    text-align: center;
}
#header-b{
   width: 100%;
    text-align: center;
    
}
.menu{
   text-decoration: none;
   font-weight: bold;
   color: rgb(48, 47, 47); 
   padding: 2px;
   margin: 2px;
}
.Simg{
    width: 300px;
}
#sprites{
    display: flex;
    
}
.sprite{
    background-color: #fdd72d;
    border: 3px solid grey;
    width: 300px; 
    padding: 5px;
    margin: 3px;
    text-align: center;   
}
#imgGato{
    width: 400px;
    height: 350px;
}
#mensaje{
padding: 10px;
margin: 10px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
text-align: center;
}

#imgMásTexto{
    width: 50%;
}

form textarea,form input{
    padding: 10px;
    margin: 10px;
    width: 50%;
}
form > textarea{
    min-height: 300px;
    min-width: 300px;
}
.red{
    width: 60px;
    padding: 5px;
}
#redes{
    display: flex;
    text-align: center;
}